<!--CONTENT-->
<div class="opts-cont">
  <a href="#" ui-sref="cases({type: 'UserInterface'})" class="opt ui">
    <div class="img"><img src="./img/icons-ui.svg" alt=""></div>
    <div class="title">USER INTERFACE</div>
    <div class="desc">[ how things look ]</div>
  </a>
  <div class="line"></div>
  <a href="#" ui-sref="cases({type: 'UserExperience'})" class="opt ux">
    <div class="img"><img src="./img/icons-ux.svg" alt=""></div>
    <div class="title">USER EXPERIENCE</div>
    <div class="desc">[ how things work ]</div>
  </a>
  <div class="line"></div>
  <a href="#" ui-sref="cases({type: 'HighProfile'})" class="opt hp">
    <div class="img"><img src="./img/icons-hp.svg" alt=""></div>
    <div class="title">HIGH PROFILE CASES</div>
    <div class="desc">[ throwing stones at goliath ]</div>
  </a>
</div>
