/*global*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Rubik:light,regular,bold,black");
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, ui-view {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: inherit; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*App-specific reset*/
nav {
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 .5px 5px #dddddd;
  position: fixed;
  background-color: #f9f9f9;
  z-index: 1; }
  nav .container {
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    nav .container #logo {
      display: flex;
      width: 250px;
      height: auto; }
      nav .container #logo #pic {
        width: 100%;
        height: auto; }
    nav .container #opt-nav {
      display: none;
      width: 200px;
      height: auto;
      flex-direction: row;
      justify-content: space-between;
      color: #4d4d4d; }
      nav .container #opt-nav .small-opt {
        height: 30px;
        width: auto; }
    nav .container #nav {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #ff4338;
      font-size: 20px;
      font-weight: 200; }

footer {
  width: 100vw;
  height: 50px;
  position: absolute;
  bottom: 0;
  box-shadow: 0 -1px 5px #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #f9f9f9; }
  footer a {
    font-family: "Rubik", sans-serif;
    font-weight: 600;
    color: #ff4338;
    font-size: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }

/*views*/
.opts-cont {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .opts-cont .line {
    height: 0;
    width: 90%;
    border-top: 1px #f9f9f9 solid; }
  .opts-cont .opt {
    height: calc(100%/3);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Rubik", sans-serif;
    line-height: 20px; }
    .opts-cont .opt div {
      margin: 2px; }
    .opts-cont .opt .img {
      height: 40px; }
      .opts-cont .opt .img img {
        height: 30px;
        width: auto; }
    .opts-cont .opt .title {
      font-weight: 400; }
    .opts-cont .opt .desc {
      font-weight: 200;
      color: #cccccc;
      font-size: 13px; }
  .opts-cont .ui {
    padding-top: 50px; }
  .opts-cont .hp {
    padding-bottom: 50px; }

.admin-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }
  .admin-container form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 97%; }
    .admin-container form .name, .admin-container form .mid-container, .admin-container form .diagnosis, .admin-container form .photos {
      margin: 5% 0;
      width: 100%;
      padding: 0 2.5%; }
      .admin-container form .name h1, .admin-container form .mid-container h1, .admin-container form .diagnosis h1, .admin-container form .photos h1 {
        font-family: "Rubik", sans-serif;
        font-weight: 600;
        font-size: 15px;
        color: #ff4338;
        display: flex;
        margin: 2px 0;
        width: 95%; }
    .admin-container form #back {
      position: absolute;
      right: 10%;
      top: 17.5;
      font-family: "Rubik", sans-serif;
      color: #ff4338;
      font-size: 15px;
      font-weight: 600;
      display: flex; }
    .admin-container form .diagnosis textarea {
      height: 50px;
      width: 100%; }
  .admin-container .submit {
    position: absolute;
    bottom: 0;
    color: #ff4338;
    width: 100%;
    height: 75px;
    font-family: "Rubik", sans-serif;
    font-size: 30px;
    font-weight: 600;
    background-color: #f9f9f9;
    border: none;
    box-shadow: 0 0.5px 15px #cccccc; }
  .admin-container .mid-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .admin-container .mid-container .meta {
      width: 40%;
      display: flex;
      flex-direction: column; }

.case-container {
  padding: 50px 10px;
  font-family: "Rubik", sans-serif; }
  .case-container .case {
    cursor: pointer;
    margin: -110px auto 0 auto;
    position: relative;
    background-color: #4d4d4d;
    height: 160px;
    width: 95%;
    border: 2.5px solid #f9f9f9;
    border-radius: 8px;
    border-top-left-radius: 0;
    display: flex;
    align-items: baseline;
    justify-content: space-between; }
    .case-container .case:after {
      content: "";
      background-color: inherit;
      width: 85px;
      height: 10px;
      border-top: 2.5px solid white;
      border-left: 2.5px solid white;
      border-right: 2.5px solid white;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px;
      position: absolute;
      top: -12.5;
      left: -2; }
    .case-container .case:first-child {
      margin-top: 25px; }
    .case-container .case .head {
      z-index: 999;
      width: 23%;
      margin-left: 10px;
      font-weight: 600;
      align-items: center;
      font-size: 23px;
      color: white; }
    .case-container .case .title {
      width: auto;
      margin-right: 30px;
      color: #f9f9f9; }

.single {
  padding: 45px 20px 50px 20px;
  width: 100vw;
  font-family: "Rubik", sans-serif;
  color: #f9f9f9; }
  .single .intro {
    margin-top: 30px;
    background-color: #ff4338;
    position: relative;
    border-top-right-radius: 8px;
    border: 2px solid #f9f9f9; }
    .single .intro:after {
      content: "";
      height: 10px;
      width: 85px;
      background-color: #ff4338;
      position: absolute;
      top: -12.5;
      left: -2;
      border: 2px solid #f9f9f9;
      border-bottom: none;
      border-top-right-radius: 8px;
      border-top-left-radius: 8px; }
    .single .intro .head {
      height: 35px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      margin-right: 10px; }
      .single .intro .head i {
        font-weight: 600;
        font-size: 23px; }
      .single .intro .head .header {
        font-weight: 600;
        font-size: 23px;
        margin-left: 10px; }
      .single .intro .head .title {
        margin-right: 30px; }
    .single .intro .before {
      overflow-y: hidden;
      margin: 5px; }
      .single .intro .before img {
        height: 65vh;
        width: auto; }
  .single .diagnosis {
    background-color: #1dc5df;
    border: 2px solid #f9f9f9;
    border-top: none; }
    .single .diagnosis .head {
      height: 35px;
      font-weight: 600;
      font-size: 23px;
      margin-left: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 10px; }
    .single .diagnosis .p-list {
      box-sizing: border-box;
      border-bottom: 5px solid #1dc5df;
      border-left: 5px solid #1dc5df;
      float: left;
      padding: 30px 10px 145px 10px;
      height: 66.3vh;
      background-color: #E7F9FD;
      color: #1dc5df;
      width: 45%;
      display: flex;
      justify-content: space-around;
      flex-direction: column; }
      .single .diagnosis .p-list .p-header {
        font-size: 20px; }
      .single .diagnosis .p-list .p {
        color: black;
        font-family: "Rubik", sans-serif; }
    .single .diagnosis .desc {
      box-sizing: border-box;
      border-bottom: 5px solid #1dc5df;
      border-right: 5px solid #1dc5df;
      display: inline-block;
      width: 55%;
      height: 66.3vh;
      background-color: #f9f9f9;
      color: black;
      padding: 40px; }
  .single .prescription {
    background-color: #13d180;
    border: 2px solid #f9f9f9;
    border-top: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px; }
    .single .prescription .head {
      height: 35px;
      font-weight: 600;
      font-size: 23px;
      margin-left: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-right: 10px; }
    .single .prescription .after {
      overflow-y: hidden;
      margin: 5px; }
      .single .prescription .after img {
        height: 65vh;
        width: auto; }

/*# sourceMappingURL=styles.css.map */
