nav{
  height: 50px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 .5px 5px #dddddd;
  position: fixed;
  background-color: $white;
  z-index: 1;

  .container{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    #logo{
      display: flex;
      width: 250px;
      height:auto;

      #pic{
        width: 100%;
        height: auto;

      }

    }
    #opt-nav{
      display: none;
      width: 200px;
      height: auto;
      flex-direction: row;
      justify-content: space-between;
      color: $dark-grey;

      .small-opt{
        height: 30px;
        width: auto;
      }
    }

    #nav{
      display: flex;
      align-items: center;
      justify-content: center;
      color: $red;
      font-size: 20px;
      font-weight: 200;
    }
    .menu{
      width: 300px;
      height: 200px;
      background: $white;
      color: $red;
      position: absolute;
      top: 50px;
      right: 0;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      box-shadow: 0 1.5px 1.5px #dddddd;
      box-sizing: border-box;
      .menu-opt{
        height: calc(100%/3);
        display: flex;
        align-items: center;
        padding-left: 10px;
        font-size: 20px;
      }
      .about{
        border-top: 1px solid #dddddd;
        border-bottom: 1px solid #dddddd;
      }
    }
  }
}
